Q1. Create a python program to sort the given list of tuples based on integer value using a
lambda function.
[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [1]:
players = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

# Sort the list based on the second element of each tuple (the integer value)
sorted_players = sorted(players, key=lambda x: x[1])

# Print the sorted list
for player in sorted_players:
    print(player)

('Virat Kohli', 24936)
('Jack Kallis', 25534)
('Ricky Ponting', 27483)
('Sachin Tendulkar', 34357)

Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions.
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Use the map function with a lambda function to find the squares
squares = list(map(lambda x: x**2, numbers))

# Print the list of squares
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions
Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [3]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Use the map function with a lambda function to convert each integer to a string
strings_tuple = tuple(map(lambda x: str(x), numbers))

# Print the tuple of strings
print(strings_tuple)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

Q4. Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25.

In [4]:
from functools import reduce
import operator

# Generate a list of numbers from 1 to 25
numbers = list(range(1, 26))

# Use reduce and operator.mul to compute the product of the list
product = reduce(operator.mul, numbers)

# Print the result
print("Product of numbers from 1 to 25:", product)

Product of numbers from 1 to 25: 15511210043330985984000000

Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function.
[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [5]:
numbers = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

# Use the filter function with a lambda function to filter numbers divisible by 2 and 3
filtered_numbers = list(filter(lambda x: x % 2 == 0 and x % 3 == 0, numbers))

# Print the filtered numbers
print("Numbers divisible by 2 and 3:", filtered_numbers)

Numbers divisible by 2 and 3: [6, 60, 90, 120]

Q6. Write a python program to find palindromes in the given list of strings using lambda and filter
function.
['python', 'php', 'aba', 'radar', 'level']

In [6]:
words = ['python', 'php', 'aba', 'radar', 'level']

# Use the filter function with a lambda function to filter palindromes
palindromes = list(filter(lambda x: x == x[::-1], words))

# Print the palindromes
print("Palindromes in the list:", palindromes)

Palindromes in the list: ['php', 'aba', 'radar', 'level']